<h1>List of users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private? ? "Yes" : "No" %></td>
      <td>
        <% if user_signed_in? && current_user != user %>
          <% follow_request = current_user.sent_follow_requests.find_by(recipient_id: user.id) %>
          <% if follow_request.nil? %>
            <%= button_to "Follow", follow_requests_path(recipient_id: user.id), method: :post %>
          <% elsif follow_request.status == "pending" %>
            <span>Request sent</span>
            <%= button_to "Cancel", follow_request_path(follow_request), method: :delete %>
          <% elsif follow_request.status == "accepted" %>
            <%= button_to "Unfollow", follow_request_path(follow_request), method: :delete %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "Show details", "/users/#{user.username}" %></td>
    </tr>
  <% end %>
</table>
