<h1>List of users</h1>

<table border="1">
  <tr>
    <th>Username</th>
    <th>Private?</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.private? ? "Yes" : "No" %></td>
      <td>
        <% if user_signed_in? && current_user != user %>
          <% follow_request = current_user.sent_follow_requests.find_by(recipient: user) %>
          <% if follow_request.nil? %>
            <%= form_with(url: follow_requests_path, method: :post) do |f| %>
              <%= f.hidden_field :recipient_id, value: user.id %>
              <%= f.button "Follow" %>
            <% end %>
          <% elsif follow_request.status == "pending" %>
            <div>
              <span>Request sent</span>
              <%= link_to "Cancel", follow_request_path(follow_request), method: :delete %>
            </div>
          <% elsif follow_request.status == "accepted" %>
            <%= link_to "Unfollow", follow_request_path(follow_request), method: :delete %>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to "Show details", user_path(user) %></td>
    </tr>
  <% end %>
</table>
