<h1>All Photos</h1>

<% if user_signed_in? %>
  <div id="new_photo_form">
    <%= form_with(model: Photo.new, local: true) do |form| %>
      <div class="field">
        <%= form.label :caption %>
        <%= form.text_field :caption %>
      </div>
      
      <div class="field">
        <%= form.label :image %>
        <%= form.text_field :image %>
      </div>
      
      <%= form.submit "Add Photo" %>
    <% end %>
  </div>
<% end %>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>
  
  <% @photos.each do |photo| %>
    <tr>
      <td>
        <img src="https://robohash.org/<%= photo.image %>" class="img-responsive">
      </td>
      <td><%= photo.owner.username %></td>
      <td><%= photo.caption %></td>
      <td><%= time_ago_in_words(photo.created_at) %> ago</td>
      <td><%= photo.likes.count %></td>
      <td>
        <%= link_to "Show details", photo_path(photo) %>
      </td>
    </tr>
  <% end %>
</table>
